body{
    background-color: rgb(104, 104, 104);
}

.frame{/*가장 큰 div*/
    margin: 30px 150px;/*30px 위아래, 150px 좌우*/
    display: flex;/*표기 타입*/
    flex-direction: column;/*내용물을 세로로 쌓겠다.*/
}

/*네비게이터*/
.navigator{
    display:flex;
    flex-direction: row;
    justify-content: space-between;/*콘텐트에 적용되는 방향*/
}
.nav-menu-li{
    display:inline;
    align-self: center;
    margin:0;
    margin-left: 15px;
}
/*
li{
    display:inline;
    align-self: center;
    margin:0;
    margin-left: 15px;
}/*같은줄에 오게하는것 인라인*/

ul{
    margin:0;
}*/

.site-name{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: rgb(34, 34, 34);
}

.nav-menu{/*li와 섹터를 나눠서 폰트에만 적용*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.dashboard{
    display: flex;
    flex-direction: column;
    margin-top: 100px;/*navigator에 너무 붙어있어서 margin top*/
}

a{
    color:black;
    text-decoration: none;
}/*링크 색상 지우기*/

a:hover{
    color:rgb(245, 216, 164);
    transition: 0.3s;
    -webkit-text-stroke: 1px rgb(255, 240, 211);
}/*마우스 호버시 나타나는 색상/지속시간*/

.highlight{
    color:rgba(245, 222, 179, 0.822);
}

.title-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.recent{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgb(34, 34, 34);
    text-align: right;
    margin-top: 50px;
}

.footer{
    display:flex;
    flex-direction: column;
    align-items: center;/*가로방향으로 센터 조절*/
    margin-bottom: 200px;
}
.pj-info{
    margin-left: 20px;
    margin-right: 20px;
}
.contact{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color:rgb(34, 34, 34);
    margin-bottom: 20px;
   
    border-bottom: 2px solid black;
    
}
.contact-links{
    margin-bottom: 40px;
}
.contact-links>a{/*부모 > 자식, 부모요소 안에있는 자식한테만 설정.*/
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.recent-work{
    display:flex;
    flex-direction: column;
}

.project{
    display:flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.thumbnail{
    width: 300px;
    height: 200px;
}

/*info section*/
.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin : 50px 50px;
}

#profile-picture{
    width: 500px;
    height: 350px;
    margin-right: 60px;
}

.introduction > h2{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
}

.introduction > p{
    margin-bottom: 50px;
    font-size: 20px;
}

.introduction > ul > li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}
.value-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.value-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;/*왼쪾부터 정렬*/
    align-content: center;
    margin: 100px 150px;
    margin-top: 20px;
}

.value{
    display:flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
}

.value-icon{
    width: 100px;
    height: 100px;
    padding:15px;
    border: 2px solid wheat;
    border-radius: 100px;
}

.value-intro{
    margin-left: 100px;
}

.value-name{
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

.value-exp{
    font-weight: 300;
    font-size: 16px;
    margin:0;
}

/*Product section*/
.input_search{
    width: 50%;
    font-size: 30px;
    background-color:rgb(145, 145, 145) 
}
.project{
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 50px;
    align-items: center;
    justify-content:center;/*컨텐츠 중앙*/
}
.search_index{
    font-size: 30px;
    margin:0;
}

.comment-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;/*왼쪾부터 정렬*/
    align-content: center;
    margin: 100px 150px;
    margin-top: 20px;
}

.dashboard_dark{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;/*navigator에 너무 붙어있어서 margin top*/
    display: none;

    justify-content:center;/*컨텐츠 중앙*/
}
.dashboard_bright{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;/*navigator에 너무 붙어있어서 margin top*/
    display: none;
}
.dashboard_red{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;/*navigator에 너무 붙어있어서 margin top*/
    display: none;
}
.dashboard_blue{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;/*navigator에 너무 붙어있어서 margin top*/
    display: none;
}

.theme_char{
    margin-left: 20px;
    margin-right: 20px;
}
.theme_char > h3{
    font-size: 30px;
}

.pj-name{
    margin-top:5px;
    font-size: 40px;
}

#dark:hover{
    color: rgb(0, 0, 0);
    transition: 0.3s;
    -webkit-text-stroke: 1px rgb(107, 107, 107);
    
}
#bright:hover{
    color: rgb(236, 243, 131);
    transition: 0.3s;
    -webkit-text-stroke: 1px rgb(255, 240, 211);
}
#red:hover{
    color: rgb(172, 0, 0);
    transition: 0.3s;
    -webkit-text-stroke: 1px rgba(255, 0, 0, 0.486);
}
#blue:hover{
    color: rgb(2, 14, 180);
    transition: 0.3s;
    -webkit-text-stroke: 1px rgba(17, 20, 192, 0.486);
}

.wallpaper{
    width: 80%;
    height: 500px;

    justify-content:center;/*컨텐츠 중앙*/
}

.dashboard_main{
    display: flex;
    flex-direction: column;
    margin-top: 100px;/*navigator에 너무 붙어있어서 margin top*/
    display: block;
    width: 80%;
    height: 500px;
    justify-content:center;/*컨텐츠 중앙*/
    border:1px solid black;
    margin-left: 10%;
}

.dashboard_main > P{
    text-align: center;
}

.pj_frame{/*가장 큰 div*/
    margin: 30px 30px;/*30px 위아래, 150px 좌우*/
    display: flex;/*표기 타입*/
    flex-direction: column;/*내용물을 세로로 쌓겠다.*/
    justify-content:center;
}

.theme_list{
    display:flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
}

#theme_list_border{
    border-left: 3px dotted black;
}

figure{
    display: inline-block;
    margin:0;
}
figure img{
    vertical-align: top;
}

figure figcaption{
    text-align: center;
}